@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #001e4d;
}
section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    background-color: #fff;
    width: 90%;
    max-width: 40em;
    /* height: 35em; */
    border-radius: 10px;
    padding: 3em;
}
.heading{
    border-bottom: 2px solid gray;
}
.heading .title{
    padding-bottom: 0.2em;
    font-size: 2em;
    color: #001e4d;
    letter-spacing: 0.1em;
}
.questionContainer{
    margin: 1em 0 1em 0;
    font-size: 1.1em;
    color: #001e4d;
    font-weight: bold;
}
.question{
    letter-spacing: 0.08em;
}
.answerContainer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 1.8em;
}
.btn{
    cursor: pointer;
    text-align: left;
    padding:0.5rem;
    margin-top: 0.7rem;
    font-size: 0.9em;
    background-color: white;
    border: 1px solid ;
    border-radius:5px ;
}
.btn:hover:not([disabled]){  /*Hover effect will run when the button arenot disabled*/
    background-color: black;
    color: white;
    transition: 0.8s ease;
}
.btn:disabled{
    cursor: no-drop;
}
.nextContainer{
    display: flex;
    /* align-items: center; */
    justify-content: center;
}
.next{
    display: none;
    font-size: 0.9em;
    padding: 0.4em;
    width: 9em;
    background-color: #001e4d;
    color: white;
    letter-spacing: 0.1em;
    border: none;
    border-radius: 5px;
}
.next:hover{
    background-color: #001e4de7;
}
button{
    cursor: pointer;
}
.nextContainer.active{
    display: flex;
}